{% extends "mainApp/wrapper.html" %}

{% block content %}
<br><br><br><br>

<div class="section-header">
    <h3><style>h3 {color: #333;}</style>Товары</h3>
    <hr class="lines wow zoomIn" data-wow-delay="0.3s"><br>
    <span class="text-danger">*</span><h7>Для уточнения информации о товаре или его приобретения,<br>нажмите на изображение товара или его название</h7><br>
</div>

<main>

    <div class="row">
          <div class="container ">
        <section class="text-center mb-4">
          <div class="row wow fadeIn justify-content-center align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-6 col-06  mb-4">
              <div class="card">
                <div class="view overlay">
                    <a href="https://superonlineshoping.com/page/1bdda03c35f7662dfc1d0a936f0f5db244b2dac6/">
                        <img class="card-img-top" src="/static/img/services/t01.jpg" alt=""></a>
                </div>
                <div class="card-body text-center"> <a href="https://superonlineshoping.com/page/1bdda03c35f7662dfc1d0a936f0f5db244b2dac6/">
                  <h4>Доска для <br>Рисования 3D<br><br><h8>Технология 3D эффекта, превращающая любые линии на доске в объемные изображения</h8></h4>

                  <h6>
                    <strong>
                      <span class="badge badge-pill danger-color">990 Руб</span>      <h7>2100</h7>
                    </strong>
                  </h6> </a>
                </div>
              </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-6 col-06  mb-4">
              <div class="card">
                <div class="view overlay">
                    <a href="https://laproducty.com/page/2ff0cf0b8f319f99b38c6aa2a325ed3b93f7a834/">
                        <img class="card-img-top" src="/static/img/services/t02.jpg" alt=""></a>
                </div>
                <div class="card-body text-center"><a href="https://laproducty.com/page/2ff0cf0b8f319f99b38c6aa2a325ed3b93f7a834/">
                  <h4>Большая кукла <br>LOL OMG<br><br><h8>Большая кукла высотой 28 см, которая одета в шикарный наряд, а еще её можно и переодевать!</h8></h4>
                  <h6>
                    <strong>
                      <span class="badge badge-pill danger-color">1990 Руб</span>      <h7>4200</h7>
                    </strong>
                  </h6></a>
                </div>
              </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-6 col-06  mb-4">
              <div class="card">
                  <div class="view overlay">
                      <a href="https://laproducty.com/page/5d2dc534d0dcce35f04b16f29732383b6a8b4fa7/">
                          <img class="card-img-top" src="/static/img/services/t03.jpg" alt=""> </a>
                  </div>
                  <div class="card-body text-center"><a href="https://laproducty.com/page/5d2dc534d0dcce35f04b16f29732383b6a8b4fa7/">
                      <h4>Машинка-перевёртыш на радиоуправлении<br><br><h8>Настоящий монстр, способный двигаться во все стороны и трансформироваться на ходу.</h8></h4>
                      <h6>
                          <strong>
                              <span class="badge badge-pill danger-color">3490 Руб</span>      <h7>7450</h7>
                          </strong>
                      </h6></a>
                  </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-06  mb-4">
              <div class="card">
                  <div class="view overlay">
                      <a href="https://laproducty.com/page/d5457889904ac9c4dc9664bf62da71097f16647e/">
                          <img class="card-img-top" src="/static/img/services/t04.jpg" alt=""></a>
                  </div>
                  <div class="card-body text-center"><a href="https://laproducty.com/page/d5457889904ac9c4dc9664bf62da71097f16647e/">
                      <h4>Рюкзак для мам <br>Mommy Bag<br><br><h8>Многофункциональный рюкзак для всех необходимых вещей мамы и ребенка.</h8></h4>
                      <h6>
                          <strong>
                              <span class="badge badge-pill danger-color">2490 Руб</span>      <h7>5350</h7>
                          </strong>
                      </h6>
                  </a>
                  </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-06  mb-4">
              <div class="card">
                  <div class="view overlay">
                      <a href="https://goproducti.com/page/492f8fd84b267e16dfb24dc95768936e627831e9/">
                          <img class="card-img-top" src="/static/img/services/t05.jpg" alt=""></a>
                  </div>
                <div class="card-body text-center"> <a href="https://goproducti.com/page/492f8fd84b267e16dfb24dc95768936e627831e9/">
                    <h4>MAGNIFIER SCREEN - <br>3D увеличитель<br>для телефона<br><br><h8>С 3D увеличителем, вы увидите гораздо больше, чем может позволить ваш маленький экран!</h8></h4>
                    <h6>
                        <strong>
                            <span class="badge badge-pill danger-color">2990 Руб</span>      <h7>3200</h7>
                        </strong>
                    </h6></a>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-06  mb-4">
              <div class="card">
                  <div class="view overlay">
                      <a href="https://shoptoptovar.com/page/a1a900241e8acb21f0a74195838d3757f11e96b5/">
                          <img class="card-img-top" src="/static/img/services/t06.jpg" alt=""></a>
                  </div>
                  <div class="card-body text-center"> <a href="https://shoptoptovar.com/page/a1a900241e8acb21f0a74195838d3757f11e96b5/">
                      <h4>Детский набор<br>для творчества<br>&nbsp;<br><br><h8>Художественный набор для рисования, с которым ребенок окунется в мир творчества</h8></h4>
                      <h6>
                          <strong>
                              <span class="badge badge-pill danger-color">1490 Руб</span>      <h7>3150</h7>
                          </strong>
                      </h6>
                  </a>
                  </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-06  mb-4">
              <div class="card">
                  <div class="view overlay">
                      <a href="https://lifeproducti.com/page/b3b8560da68b12ff2f89a44c10fc81460346d542/">
                          <img class="card-img-top" src="/static/img/services/t07.jpg" alt=""></a>
                  </div>
                  <div class="card-body text-center"><a href="https://lifeproducti.com/page/b3b8560da68b12ff2f89a44c10fc81460346d542/">
                      <h4>Конструктор<br>RoboKit 11 в 1<br>&nbsp;<br><br><h8>Конструктор для детей, благодаря которому можно собрать 11 различных роботов.</h8></h4>
                      <h6>
                          <strong>
                             <span class="badge badge-pill danger-color">1490 Руб</span>      <h7>3150</h7>
                          </strong>
                      </h6>
                  </a>
                  </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-06  mb-4">
              <div class="card">
                  <div class="view overlay">
                      <a href="https://shopproduckt.com/page/e8624898fb8215713803e55d0b61c21f706aa40a/">
                          <img class="card-img-top" src="/static/img/services/t08.jpg" alt=""></a>
                  </div>
                <div class="card-body text-center"> <a href="https://shopproduckt.com/page/e8624898fb8215713803e55d0b61c21f706aa40a/">
                  <h4>Happy Kids -<br>бамбуковая посуда<br>для детей<br><br><h8>Невероятно маленького веса детская посуда из бамбука, которую невозможно разбить.</h8></h4>
                    <h6>
                        <strong>
                            <span class="badge badge-pill danger-color">1990 Руб</span>      <h7>4250</h7>
                        </strong>
                    </h6>
                </a>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-06  mb-4">
                <div class="card">
                    <div class="view overlay">
                        <a href="https://laproducty.com/page/e358b05535555704600682476e7833b8a60b5f7d/">
                            <img class="card-img-top" src="/static/img/services/t09.jpg" alt=""></a>
                    </div>
                    <div class="card-body text-center"><a href="https://laproducty.com/page/e358b05535555704600682476e7833b8a60b5f7d/">
                      <h4>Конструктор<br>из надувных<br>шариков Oonies<br><br><h8>Первая и единственная в мире игрушка для конструирования из воздушных шаров.</h8></h4>
                        <h6>
                            <strong>
                                <span class="badge badge-pill danger-color">1590 Руб</span>      <h7>3400</h7>
                            </strong>
                        </h6></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-06  mb-4">
                <div class="card">
                    <div class="view overlay">
                        <a href="https://shoptoptovar.com/page/811056b2a579aa7778f39ae5451f1520e1124bb2/">
                            <img class="card-img-top" src="/static/img/services/t010.jpg" alt=""></a>
                    </div>
                    <div class="card-body text-center"> <a href="https://shoptoptovar.com/page/811056b2a579aa7778f39ae5451f1520e1124bb2/">
                      <h4>Термобелье<br>Nord City<br>&nbsp;<br><br><h8>Приятный на ощупь и износостойкий материал<br>мгновенно впитывает пот.</h8></h4>
                        <h6>
                            <strong>
                                <span class="badge badge-pill danger-color">1690 Руб</span>      <h7>3650</h7>
                            </strong>
                        </h6></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-06  mb-4">
                <div class="card">
                    <div class="view overlay">
                        <a href="https://promoshopmedia.com/page/03f5f8dd174f37d5f01016d20e4623ec25c1821d/">
                            <img class="card-img-top" src="/static/img/services/t011.jpg" alt=""></a>
                    </div>
                    <div class="card-body text-center"> <a href="https://promoshopmedia.com/page/03f5f8dd174f37d5f01016d20e4623ec25c1821d/">
                      <h4>Fugicar FC8<br>зеркало-бортовой<br>компьютер<br><br><h8>Обладает объединенной системой камеры и стандартного зеркала заднего вида.</h8></h4>
                        <h6>
                            <strong>
                                <span class="badge badge-pill danger-color">1990 Руб</span>      <h7>4250</h7>
                            </strong>
                        </h6></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-06  mb-4">
                <div class="card">
                    <div class="view overlay">
                        <a href="https://besttovarsale.com/page/2819a9b80344bcd6e36c6ad1f832c4c3ee958b3e">
                            <img class="card-img-top" src="/static/img/services/t012.jpg" alt=""></a>
                    </div>
                    <div class="card-body text-center"> <a href="https://besttovarsale.com/page/2819a9b80344bcd6e36c6ad1f832c4c3ee958b3e">
                        <h4>Рисуй на<br>воде EBRU<br>&nbsp;<br><br><h8>Набор для творчества, который позволяет рисовать<br>прямо наводе.</h8></h4>
                        <h6>
                            <strong>
                                <span class="badge badge-pill danger-color">1490 Руб</span>      <h7>3150</h7>
                            </strong>
                        </h6></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-06  mb-4">
                <div class="card">
                    <div class="view overlay">
                        <a href="http://dailytvshop.com/page/d0df567bca8c66ec53107a600d9beab81cb25959">
                            <img class="card-img-top" src="/static/img/services/t013.jpg" alt=""></a>
                    </div>
                    <div class="card-body text-center"><a href="http://dailytvshop.com/page/d0df567bca8c66ec53107a600d9beab81cb25959">
                        <h4>Игрушка<br>Пушистик-потеряшка<br>Scruff a Luvs<br><br><h8>Главная идея и игровая ценность игрушки в проявлении заботы ребенком о своем питомце.</h8></h4>
                        <h6>
                            <strong>
                                <span class="badge badge-pill danger-color">2490 Руб</span>      <h7>5350</h7>
                            </strong>
                        </h6></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-06  mb-4">
                <div class="card">
                    <div class="view overlay">
                        <a href="https://dailytvshop.com/page/a20d55514a2d81a05e606160e1a935ed55c65e54/">
                            <img class="card-img-top" src="/static/img/services/t014.jpg" alt=""></a>
                    </div>
                    <div class="card-body text-center"> <a href="https://dailytvshop.com/page/a20d55514a2d81a05e606160e1a935ed55c65e54/">
                        <h4>Набор для раскопок<br>Dino Excavation<br>&nbsp;<br><br><h8>После завершения работы трофеем ребенка станут скелеты двух динозавров.</h8></h4>
                        <h6>
                            <strong>
                                <span class="badge badge-pill danger-color">1690 Руб</span>      <h7>3600</h7>
                            </strong>
                        </h6>
                    </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-06  mb-4">
                <div class="card">
                    <div class="view overlay">
                        <a href="https://saleegoods.com/page/fe4e9c6606f652ace1900925d860a09fef6e928f/">
                            <img class="card-img-top" src="/static/img/services/t015.png" alt=""></a>
                        </div>
                <div class="card-body text-center"> <a href="https://saleegoods.com/page/fe4e9c6606f652ace1900925d860a09fef6e928f/">
                    <h4>Отпариватель для<br>одежды Steam Brush<br>&nbsp;<br><br><h8>Облегчит уход за одеждой и позволит всегда иметь безупречный внешний вид.</h8></h4>
                    <h6>
                        <strong>
                            <span class="badge badge-pill danger-color">2290 Руб</span>      <h7>4880</h7>
                        </strong>
                    </h6></a>
                </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-06  mb-4">
                <div class="card">
                    <div class="view overlay">
                        <a href="https://dailytvshop.com/page/d9937225b5f7fdda1ee527be04758e1d7c2e859b/">
                            <img class="card-img-top" src="/static/img/services/t016.jpg" alt=""></a>
                    </div>
                    <div class="card-body text-center"><a href="https://dailytvshop.com/page/d9937225b5f7fdda1ee527be04758e1d7c2e859b/">
                        <h4>Магнитная щетка для<br>окон WinClean<br>&nbsp;<br><br><h8>Обладает мощным магнитом, который без труда держится даже на двойном стеклопакете.</h8></h4>
                        <h6>
                            <strong>
                                <span class="badge badge-pill danger-color">1290 Руб</span>      <h7>2750</h7>
                            </strong>
                        </h6>
                    </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-06  mb-4">
              <div class="card">
                <div class="view overlay">
                    <a href="http://topwebsshop.com/page/db38bd5da9ac4a088cd33a1883babe3371cfd4a9/">
                        <img class="card-img-top" src="/static/img/services/t017.jpg" alt=""></a>
                </div>
                <div class="card-body text-center"> <a href="http://topwebsshop.com/page/db38bd5da9ac4a088cd33a1883babe3371cfd4a9/">
                  <h4>Модные угги<br>UGG AUSTRALIA<br><br><h8>Теплые, комфортные и<br>качественно прошитые угги с заманчивой скидкой.</h8></h4>
                  <h6>
                    <strong>
                      <span class="badge badge-pill danger-color">1990 Руб</span>      <h7>4240</h7>
                    </strong>
                  </h6> </a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-06  mb-4">
                    <div class="card">
                      <div class="view overlay">
                          <a href="http://goproducti.com/page/5db5d08a439e90ee52088dfa598049743563a09f/">
                              <img class="card-img-top" src="/static/img/services/t018.jpg" alt=""></a>
                      </div>
                    <div class="card-body text-center"> <a href="http://goproducti.com/page/5db5d08a439e90ee52088dfa598049743563a09f/">
                      <h4>3D Энциклопедии<br>&nbsp;<br><br><h8>Порадуют ребенка яркими,<br>красочными и по-настоящему живыми иллюстрациями!</h8></h4>
                        <h6>
                            <strong>
                                <span class="badge badge-pill danger-color">990 Руб</span>      <h7>2150</h7>
                            </strong>
                        </h6></a>
                    </div>
                    </div>
                </div>


          </div>
        </section>
    </div>
  </div>


  <br><br><br><br>



</main>



{% endblock %}